.flexPagrindinis{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tuscia{
    background-color: antiquewhite;
    height: 60px;
    width: 60px;
}
.uzpildytas{
    background-color: grey;
    
}